@import "tailwindcss";

:root {
  --background: #151312;
  --primary-text-color: #998f8f;
  --secondary-text-color: #b6b4bd33;
  --tertiary-text-color: #ffffff;
  --primary-text-color-on-light: #6a6b6e;
  --secondary-text-color-on-light: #000000;
  --label-color: #888888;
  --placeholder-color: #999999;
  --input-color: #b6b4bd20;
  --input-text-color: #ffffff;
  --primary-accent-color: #f46c38;
  --secondary-accent-color: #c5ff41;
}

@theme inline {
  --color-background: var(--background);
  --color-primary-text: var(--primary-text-color);
  --color-secondary-text: var(--secondary-text-color);
  --color-tertiary-text: var(--tertiary-text-color);
  --color-primary-text-on-light: var(--primary-text-color-on-light);
  --color-secondary-text-on-light: var(--secondary-text-color-on-light);
  --color-label: var(--label-color);
  --color-placeholder: var(--placeholder-color);
  --color-input: var(--input-color);
  --color-input-text: var(--input-text-color);
  --color-primary-accent: var(--primary-accent-color);
  --color-secondary-accent: var(--secondary-accent-color);
}

body {
  background: var(--background);
  color: var(--primary-text-color);
  font-family: "Poppins", sans-serif;
}
